@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;

}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:aquamarine
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5), rgb(131, 131, 167)),url(assets/cstudio.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-text{
    text-align: center;
    color: white;
    padding-top: 100px;
    font-family: 'Montserrat' 'san serif'
}

.banner-text h1 {
    font-size: 130px;
    font-family: 'Montserrat','sans-serif';
}

.banner-text p{
    font-size: 20px;
    font-family: 'Montserrat','sans-serif';
    font-style: italic;
}
    

 /*--work section--*/

#work{
    width: 100%;
    padding: 70px 0;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text p{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}


.title-text h1{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
}

.work-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.works{
    flex-basis: 50%;
}

.work-img{
    margin: auto;
}

.work-img img{
    width: 200%;
    border-radius: 311px;
    margin-right: -394px;

}

.work-img img:hover{
    opacity: 0.40%;
    cursor:pointer;
    transition: 0.5s;
}
.works h1{
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.work-desc{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.work-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: tomato;
    border: 1px solid #009688;
}
.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: 200px;
    padding: 16px;
    
}

.box-one img{
    border-spacing: px;
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    float: right;
    border-radius: 100px;

}

.box-one p {
    font-family: "Montserrat", sans-serif;
}

.work-2 h2{
    font-family: "Montserrat", sans-serif;
    color: #009688;
    text-align: center;
}

.work-2 p{
    font-family: "Montserrat", sans-serif;
    
}
