@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    margin: 0%;
    padding: 0%;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;

}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:aquamarine
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5), rgb(131, 131, 167)),url(assets/cstudio.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-text{
    text-align: center;
    color: white;
    padding-top: 100px;
    font-family: 'Montserrat' 'san serif'
}

.banner-text h1 {
    font-size: 130px;
    font-family: 'Montserrat','sans-serif';
}

.banner-text p{
    font-size: 20px;
    font-family: 'Montserrat','sans-serif';
    font-style: italic;
}
    

 /*--work section--*/

#feature{
    width: 100%;
    padding: 70px 0;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text p{
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}


.title-text h1{
    font-size: 50px;
}



